@font-face {
  font-family: "winjs-symbols";
  src: url("../css/fonts/glyphs/winjs-symbols.eot");
  src: url("../css/fonts/glyphs/winjs-symbols.eot#iefix") format("embedded-opentype"), url("../css/fonts/glyphs/winjs-symbols.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik";
  src: url("../css/fonts/selawk.eot");
  src: url("../css/fonts/selawk.eot#iefix") format("embedded-opentype"), url("../css/fonts/selawk.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik Bold";
  src: url("../css/fonts/selawkb.eot");
  src: url("../css/fonts/selawkb.eot#iefix") format("embedded-opentype"), url("../css/fonts/selawkb.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik Light";
  src: url("../css/fonts/selawkl.eot");
  src: url("../css/fonts/selawkl.eot#iefix") format("embedded-opentype"), url("../css/fonts/selawkl.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik Semibold";
  src: url("../css/fonts/selawksb.eot");
  src: url("../css/fonts/selawksb.eot#iefix") format("embedded-opentype"), url("../css/fonts/selawksb.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik Semilight";
  src: url("../css/fonts/selawksl.eot");
  src: url("../css/fonts/selawksl.eot#iefix") format("embedded-opentype"), url("../css/fonts/selawksl.ttf") format("truetype"); }


#page {
    margin-top: 70px;
}

body {
    /*background-color: #f2f2f2;*/
    /*font-size: 13px;*/
    /*font-family: "Segoe UI";*/
}

/*.panel {
    background-color: #fff;
    padding: 9px;
}*/

.panel h2, .panel h3 {
    margin: 0;
}

.table-hover tbody tr {
    cursor: pointer;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}